@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: 'inter';
    /* background: #0D181E; */
    color: white;
}

html {
    font-size: 18px;
    /* Root font size */
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.hide {
    visibility: hidden;
}

svg:not(.cv svg) path {
    transition: 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

svg:not(.cv svg):hover path {
    fill: #FFD700;
}

header {
    transition: 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 10;


}

body {
    background-color: #0D181E;
}

.cv {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 125px;
    height: 125px;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    transition: 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

.cv:hover {
    width: 150px;
    height: 150px;
    background-color: #FFD700;
}

/* .cv:hover svg path{
    fill:white
}
.cv:hover span{
    color: white;
} */
.cv svg {
    width: 70px;
    height: 70px;
}

.cv span {
    position: absolute;
    color: black;
    font-family: 'jua';
    /* font-weight: 600; */
    margin-top: 15px;
}

nav ul li a,
.name a span,
.name a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 500;
    transition: 500ms;
}

header.active {
    background-color: #001F3F;
    /* color: black; */
}

header.active nav ul li a:hover,
header.active .name a span:hover {
    color: #FFD700;
}

/* header.active nav ul li a , 
header.active .name a span 
{
    color: #0D181E;
} */

nav {
    margin-right: 10%;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 50px;

}

.name {
    margin-left: 10%;
}



#banner {
    background-image: url(assets/images/OIG.veYhYOg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
}

.overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
    z-index: 0;
}

.banner-content {
    display: flex;
    height: 700px;
    align-items: flex-start;
    position: relative;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    gap: 30px;
    padding-top: 50px;
}

.intro {
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    font-style: normal;
}

.job-title {
    font-size: 3em;
    color: white;
    position: relative;
    padding-bottom: 20px;
}

.job-title::after {
    position: absolute;
    content: "";
    background-color: white;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    border-radius: 50px;
}

/* __________ABOUT______________ */
#about {
    display: flex;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    gap: 100px;


}

.hayaa-image {
    position: relative;
}

.hayaa-image svg {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 70px;
    padding: 20px;
}

.about-hayaa {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}

.about-hayaa p {
    font-size: 18px;
    line-height: 150%;
}

/* __________END ABOUT______________ */

/* __________JOURNEY______________ */

#journey {
    margin-top: 100px;
    padding-bottom: 150px;
}

#journey h1 {

    width: 100%;
    text-align: center;
}

.line-list {
    margin-top: 75px;
    position: relative;
}

.line-list .line {
    position: absolute;
    left: calc(50% - 1.5px);
}

.journey-list {
    display: flex;
    gap: 120px;
    flex-direction: column;

}

.journey-list>div {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 84%;
    margin: auto;
}

.journey-list div:nth-child(odd) {
    flex-direction: row-reverse;

}

.journey-list div:nth-child(1) h2 {
    margin-right: 8%;
    line-height: 150%;
}

.journey-list div:last-of-type h2 {
    padding-top: 15px;

    padding-left: 50px;
}

.journey-discription {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 45%;
}

.journey-discription h2 {
    line-height: 150%;
}

.journey-discription ul {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 150%;
    list-style: disc;
    padding-left: 30px;
}

.journey-icons {
    position: relative;
    width: 45%;

}

.journey-icons:nth-of-type(odd) {
    margin-right: 8%;
}

.journey-icons svg {
    transition: 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

.journey-icons #pie-chart {
    position: absolute;
    top: -30px;
    left: 0;
}

.journey-icons #pie-chart:hover {
    transform: rotate(20deg);
}

.journey-icons #table {
    position: absolute;
    right: 30px;
    bottom: -30px;
}

.journey-icons #table:hover {
    transform: rotate(-20deg);

}

.journey-icons #code {
    position: absolute;
    left: 25%;
    top: 30px;
}

.journey-icons #code:hover {
    transform: rotate(30deg);
}

.journey-icons #python {
    position: absolute;
    left: 20%;
    top: 30px;
}

.journey-icons #python:hover {
    transform: rotate(-30deg) scale(1.3);
}

.journey-icons #hummer {
    position: absolute;
    top: 20%;
    left: 8%;
}

.journey-icons #hummer:hover {
    transform: rotate(30deg);
    width: 60%;
}

.journey-icons #bug {
    position: absolute;
    top: 50%;
    left: 40%;
}

.journey-icons #bug:hover {
    transform: translate(30px, 10px) rotate(100deg);
}


.dot {
    position: absolute;
    /* left: calc(50% - 16px); */
    width: 100%;
}

.star {
    position: absolute;
    width: 100%;
}

/* __________END JOURNEY :(______________ */


/* _________________SKILLS____________________ */
#skills {
    height: 700px;
}

#skills h1,
#soft-skills h1,
#projects h1 {
    width: 100%;
    text-align: center;
}


.skill {
    position: absolute;

}

.code-skills {
    display: flex;
    gap: 30px;
    width: 80%;
    margin: auto;
}

.code-skills>div {
    position: relative;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-skills .first-part {
    width: 130px;
    height: 350px;
    transform: rotate(45deg);
}

.code-skills .forth-part {
    width: 130px;
    height: 350px;
    transform: rotate(45deg) translate(-50px, -50px);
}

.code-skills .fifth-part {
    margin-top: 55px;
    margin-left: 55px;
}

.code-skills ul li {
    position: relative;
}

.code-skills ul li,
.code-skills ul li svg path,
.code-skills ul div {
    transition: 500ms cubic-bezier(0.22, 0.61, 0.36, 1);
}

.code-skills ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-skills ul div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.code-skills ul li:nth-child(odd):hover div {

    margin: 10px;
}

.code-skills ul li:nth-child(even):hover div {
    margin: 10px;
}

.code-skills ul li:hover svg path {
    fill: gold;

}

.code-skills .first-part li:nth-child(odd) svg,
.code-skills .second-part li:nth-child(even) svg,
.code-skills .forth-part li:nth-child(odd) svg,
.code-skills .third-part li:nth-child(even) svg {
    transform: rotate(270deg);
}

.code-skills .first-part li:nth-child(even) svg,
.code-skills .second-part li:nth-child(odd) svg,
.code-skills .forth-part li:nth-child(even) svg,
.code-skills .third-part li:nth-child(odd) svg {
    transform: rotate(90deg);
}

.code-skills .fifth-part li:nth-child(even) svg {
    transform: rotate(180deg);
}

.code-skills .first-part li:nth-child(2),
.code-skills .second-part li:nth-child(2),
.code-skills .third-part li:nth-child(2),
.code-skills .forth-part li:nth-child(2) {
    transform: translate(0px, -30px);
}

.code-skills .first-part li:nth-child(3),
.code-skills .second-part li:nth-child(3),
.code-skills .third-part li:nth-child(3),
.code-skills .forth-part li:nth-child(3) {
    transform: translate(0px, -60px);
}

.code-skills .first-part li:nth-child(4),
.code-skills .second-part li:nth-child(4),
.code-skills .third-part li:nth-child(4),
.code-skills .forth-part li:nth-child(4) {
    transform: translate(0px, -90px);
}

.code-skills .fifth-part li:nth-child(2) {
    transform: translate(-64px, -180px);
}

.code-skills .fifth-part li:nth-child(3) {
    transform: translate(-65px, -180px);
}

.code-skills .fifth-part li:nth-child(4) {
    transform: translate(-132px, -370px);
}

.code-skills .first-part li span,
.code-skills .forth-part li span {
    position: absolute;
    /* top: 50%; */
    width: 50%;

    transform: rotate(-45deg);
    color: black;
}

.code-skills .second-part li span,
.code-skills .third-part li span {
    position: absolute;
    top: 50%;
    left: 30%;
    width: 50%;
    transform: rotate(45deg);
    color: black;
}

.code-skills .second-part {
    width: 130px;
    height: 350px;
    transform: rotate(-45deg) translate(50px, -50px);
}

.code-skills .third-part {
    width: 130px;
    height: 350px;
    transform: rotate(-45deg)
}

.skill div {
    position: relative;
}

.skill div span {
    position: absolute;
    left: 30%;
    top: 30%;
    color: black;
    width: 80%;
}
.fifth-part .skill:last-child div span{
    margin-top: 90px;
}
/* _________________END SKILLS____________________ */

/* _________________SOFT SKILLS____________________ */
#soft-skills {
    margin-top: 100px;
    /* margin-bottom: 100px; */
}

#soft-skills ul {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;

}

#soft-skills ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    position: relative;
    height: 150px;

    font-size: 1.33em;
    text-align: center;
    line-height: 150%;

}


#soft-skills ul li:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: white;
    bottom: 0;
    transition: 1s;
}

#soft-skills ul li:hover::after {
    background-color: gold;
}

#soft-skills ul li:before {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    /* background-image: linear-gradient(90deg, gold, white); */
    top: 0;
    background-color: gold;
}

@keyframes rightandleft {
    0% {
        background-image: linear-gradient(90deg, white, gold);
    }

    50% {
        background-image: linear-gradient(90deg, gold, white);

    }

    100% {
        background-image: linear-gradient(90deg, white, gold);
    }
}

/* _________________END SOFTWARE SKILLS____________________ */

/* _________________PROJECTS____________________ */



#projects {
    margin-top: 100px;

}

.project-window {
    width: 972px;
    position: relative;
    height: 450px;
    background-color: white;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-window img {
    width: 98%;
    height: 96%;
    object-fit: cover;
}

.projects-list div {
    margin-top: 50px;
}

.projects-list button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: calc(50% - 35px);
}

.projects-list button:nth-of-type(1) {
    left: -10%;
    transform: rotate(180deg);
}

.projects-list button:nth-of-type(2) {
    right: -10%;
}

.projects-list h2 {
    margin-left: 15%;
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.projects-list p {
    width: 60%;
    margin-left: 15%;
    line-height: 150%;

}

.projects-list h2 svg path {
    transition: 500ms;

}

.projects-list h2 svg:hover path {
    fill: #FFD700
}

/* _________________END PROJECTS____________________ */

/* _________________Footer____________________ */

footer {
    margin-top: 100px;
    font-family: 'inter';
    border-top: 1px solid #FFD700;
}

.upper-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}

.upper-footer div {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.upper-footer a {
    display: flex;
    align-items: center;
    gap: 20px;
}

.lower-footer {
    display: flex;
    justify-content: center;
    background-color: #001F3F;
    padding-top: 20px;
    padding-bottom: 20px;

}

/* _________________END Footer____________________ */





@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    nav ul {
        display: none;
    }

    /* banner */
    .job-title {
        width: 90%;
    }

    /* about */
    #about {
        flex-direction: column-reverse;
    }

    .about-hayaa {
        width: auto;
    }

    .hayaa-image {
        display: flex;
        justify-content: center;
    }

    .hayaa-image svg {
        left: 20%;
        width: 40px;
        height: 40px;
        padding: 10px;
    }

    .hayaa-image img {
        width: 50%;
        margin: auto;
    }

    /* journey */
    .dot {
        height: 30px;
        width:30px;
        right: calc(100vw - 30vw);
        width: auto;

    }

    .line-list .line {
        position: absolute;
        left: 10%;
        height: 99%;
        background-color: white;
        width: 1px;
    }

    .journey-list {
        width: 80%;
        margin: auto;
        flex-direction: column;
    }
    .journey-list div{
        flex-direction: column;
    }
    .journey-list div:nth-child(odd) {
        flex-direction: column
    }
    

    .journey-discription{
        width: 90%;
        margin-bottom: 10px;
    }
    .journey-icons{
        width: 100%;
    }
    .journey-icons svg{
        width: 70px;
        height: 70px;
    }
    .journey-icons #pie-chart{
        left: 0;
        top: 0;
    }
    .journey-icons #table{
        right: 0;
        top:0
    }
    .journey-icons #code{
        top: 0;
      
    }
   .journey-icons #hummer{
    top: 10px;
    left: 10%;
   }
   .journey-icons #bug{
    top: 20px;
    left: 40%;
   }
   .star{
    right: calc(100vw - 35vw);
    width: auto;
    width: 70px;
    height: 70px;
   }
   .journey-list div:last-of-type h2 {
    padding-left: 20px;
    }
  

    /* skills  */
    #skills {
        height: 100%;

    }

    .code-skills {
        flex-direction: column;
        gap: 0;
        margin-top: 30px;
        height: 1500px;
    }

    .code-skills>div {
        width: 90%;
    }

    .code-skills>div:nth-child(2) {
        transform: translateY(-165px) translateX(0px);
    }

    .code-skills>div:nth-child(3) {
        transform: translateY(-440px);

    }
    .code-skills ul:not(.fifth-part) li svg
    {
        height: 100px;
        width: 100px;
    }

    .code-skills .fifth-part li svg{
        height: 150px;
    }
    
    .code-skills .fifth-part li:nth-child(2) {
        transform: translate(-45px, -125px);
    }
    .code-skills .fifth-part li:nth-child(3) {
        transform: translate(-47px, -123px);
    }
    .code-skills .fifth-part li:nth-child(4) {
        transform: translate(-97px, -255px);
    }
    .fifth-part .skill:last-child div span{
        margin-top: 65px;
    }
    /* soft skills  */
    #soft-skills ul{
        flex-direction: column;
        width: auto;
        align-items: center;
        gap: 50px;
    }
    #soft-skills ul li{
        width: 50%;
        height: fit-content;
        padding-bottom: 20px;
    }
    #soft-skills ul li br{
        display: none;
    }
    #soft-skills ul li::before{
        background-color: transparent;
    }
    #soft-skills ul li::after{
        background-color: #FFD700;
    }


    /* projects */
    .project-window {
        width: 80%;
        height: auto;
        padding:2px
    }
    .project-window img{
        height: auto;
        width: 100%;
    }
    
    .projects-list svg{
        width: 30px;
    }

    /* CV */
    .cv {
        width: 100px;
        height: 100px;
    }

    .cv:hover {
        width: 120px;
        height: 120px;
    }

    .cv svg {
        width: 50px;
        height: 50px;
    }
 

    
    /* footer */
    .upper-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .upper-footer div {
        flex-direction: column;
        width: 100%;
    }
    .upper-footer div svg{
        width: 30px;
        }
}